* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  background-color: #026aa7;
}
h1:hover {
  transform: scale(1.1);
}
.MyName {
  color: #fff;
  border-radius: 10px;
  padding-top: 5px;
  font-style: italic;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  cursor: pointer;
}

.MyName:hover {
  color: rgba(231, 231, 114, 0.603);
  transform: scale(1.1);
  transition: all 0.3s;
}

.BoardName {
  font-size: 2rem;
  color: rgb(235, 199, 217);
  padding: 20px;
}

.ListContainer {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin: 10px;
  height: max-content;
  max-height: 89vh;
  background-color: #ebecf0;
}

.AddListBtn {
  display: flex;
  color: white;
  height: 54px;
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.24);
  padding: 6px 8px;
}

.AddListBtn:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.AddListBox {
  height: max-content;
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  background-color: #ebecf0;
  padding: 6px 8px;
}

.AddCardBtn {
  display: flex;
  margin: 10px;
  cursor: pointer;
  padding: 5px 5px 5px 10px;
}
.AddCardBtn:hover {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 8px;
}

.AddCardContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.CardContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.05);
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.CardContainer:hover{
  background-color: rgb(0, 0, 0, 0.2);
}



.containerWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  top: 0%;
  left: 0%;
}

.container {
  width: 50%;
  min-width: 300px;
  height: max-content;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 20px;
}

.containerHeader{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.containerBody {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.AddCheckListBtn{
  color: black;
  height: 54px;
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  background-color: hsla(0, 6%, 79%, 0.8);
  padding: 6px 8px;
}

.CheckListHeader{
  display: flex;
  justify-content: space-between;
  width: 450px;
  /* margin-bottom:20px; */
  padding:10px;
  background-color: hsla(0, 2%, 65%, 0.1);
  border-radius: 5px;
}

.ChecklistContainer{
  margin:20px;
}
.AddItemBtn{
  background-color: hsla(0, 2%, 65%, 0.1);
  margin:15px;
  padding:5px;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
}

.AddItemBtn:hover{
  background-color: hsla(0, 2%, 65%, 0.5);
}

